---
import { APP_BLOG } from 'astrowind:config';
import PostTags from '~/components/blog/Tags.astro';
import type { Post } from '~/types';

import { getPermalink } from '~/utils/permalinks';

export interface Props {
  post: Post;
}

const { post } = Astro.props;

const link = APP_BLOG?.post?.isEnabled ? getPermalink(post.permalink, 'post') : '';
---

<article class="flex">
  <div class="flex flex-col items-center mr-12 shrink-0 relative">
    <div class="w-px bg-slate-400 dark:bg-slate-300 h-full absolute left-1/2 -translate-x-1/2"></div>
    <div
      class="w-3 h-3 rounded-full border-2 border-slate-400 dark:border-slate-300 bg-slate-300 dark:bg-slate-200 z-10 mt-[2.2rem]"
    >
    </div>
  </div>

  <div class="flex-1 pb-10 md:pb-16 grid grid-cols-[auto_1fr] gap-x-12 items-start">
    {
      post.category && (
        <div class="col-start-2 text-sm text-muted dark:text-slate-400 mb-2">
          <a class="hover:underline" href={getPermalink(post.category.slug, 'category')}>
            {post.category.title}
          </a>
        </div>
      )
    }

    <div class="text-sm font-medium text-gray-500 dark:text-gray-400 shrink-0 mt-2">
      {
        post.publishDate?.toLocaleDateString('ja-JP', {
          year: 'numeric',
          month: '2-digit',
          day: '2-digit',
        })
      }
    </div>

    <h2 class="text-xl sm:text-2xl font-bold leading-tight font-heading dark:text-slate-300">
      {
        link ? (
          <a
            class="inline-block hover:text-primary dark:hover:text-blue-700 transition ease-in duration-200"
            href={link}
          >
            {post.title}
          </a>
        ) : (
          post.title
        )
      }
    </h2>

    {
      post.tags && Array.isArray(post.tags) ? (
        <div class="col-start-2 mt-2 text-xs">
          <PostTags tags={post.tags} />
        </div>
      ) : (
        <Fragment />
      )
    }
  </div>
</article>
