name: Dependency Review

on:
  pull_request:

jobs:
  dependency-review:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Dependency review
        uses: github/dependency-review-action@v1
        with:
          # Fail the job if vulnerabilities of severity 'high' or above are found
          fail-on-severity: 'high'
