name: Semantic Pull Request

on:
  pull_request:
    types: [opened, edited, reopened, synchronize]

jobs:
  semantic:
    runs-on: ubuntu-latest
    steps:
      - name: Check semantic PR title
        uses: amannn/action-semantic-pull-request@v3
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          types: |
            feat
            fix
            docs
            style
            refactor
            perf
            test
            chore
            ci
            build
